<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
	<div class="container contents">
		<h1>[[ ${title} ]]</h1>
		<p>ようこそ、[[ ${user.name} ]]さん。</p>
		<div class="row">
			<form class="search col-6">
				<div class="input-group">
					<input class="form-control" type="text" name="keyword" placeholder="商品名の一部を入れて検索">
					<span class="input-group-append">
						<input class="btn btn-outline-secondary" type="submit" value="検索" >
					</span>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-3">
				<h2>メニュー</h2>
				<p>ここに各種メニューを追加してください。</p>
			</div>
			<div class="col-9">
				<div class="card item" th:each="item : ${items}">
					<div class="row item_row">
						<div class="col-6 item_figure">
						    <img class="img-fluid" th:src="@{/images/{image} (image=${item.image})}">
						</div>
						<div class="col-6 item_description">
							<h2 class="item_title">
							    <a th:href="@{/items/detail/{id} (id=${item.id})}">
                                    [[ ${item.name} ]]: 
                                </a>
                            </h2>
                            <th:block th:if="${item.stock > 0}">
                                <div>[[ ${item.price} ]]円</div>
                            </th:block>
							<th:block th:if="${item.stock <= 0}">
                                <div>売り切れ</div>
                            </th:block>
							<div>[[ ${item.description} ]]</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="text-center">
		<p><small>&copy;CodeCamp All Rights Reserved.</small></p>
	</footer>
</div>
</html>